In [100]:
import pandas as pd

INPUT_FILE = 'gyroscope_datawithamount.csv'
PARSED_FILE = 'parsed_gyroscope_datawithamount.csv'
ADAPTED_FILE = 'adapted_gyroscope_datawithamount.csv'

In [101]:
df = pd.read_csv(INPUT_FILE)

In [102]:
df.head()

,activity_id,ax_axis,ay_axis,az_axis,id,magn_z,text,time,x_axis,y_axis,z_axis
0,0,0.0,0.0,0.0,1,0.0,NaN,1532622298260,0.0,0.0,0.0
1,0,-1.0,-2.0,6.0,2,0.0,NaN,1532622298298,-6.0,7.0,-1.0
2,0,0.0,-2.0,5.0,3,0.0,NaN,1532622298335,-4.0,5.0,0.0
3,0,0.0,-1.0,4.0,4,0.0,NaN,1532622298375,-2.0,5.0,0.0
4,0,0.0,-1.0,3.0,5,0.0,NaN,1532622298415,-3.0,4.0,0.0

In [103]:
users = []
activity_types = []
numbers_of_repeats = []

CORRUPTED_DATA = 'CORRUPTED_DATA'

def parse_text(text):
    user = CORRUPTED_DATA
    activity_type = CORRUPTED_DATA
    number_of_repeats = 0
    
    if not isinstance(text, str) or not text:
        return user, activity_type, number_of_repeats
    
    parts_of_text = text.split(',')
    
    user = parts_of_text[0].strip()
    
    if len(parts_of_text) > 1 and not parts_of_text[1].isdigit():
        activity_type = parts_of_text[1].strip().replace(' ', '')
        
        if activity_type == 'oause':
            activity_type = 'pause'
        
    if len(parts_of_text) > 2:
        number_of_repeats = int(parts_of_text[2])
    
    if len(parts_of_text) > 3:
        raise ValueError('Text field has mere that 3 parts: ' + text)
        
    return user, activity_type, number_of_repeats
    

for text in df['text']:
    user, activity_type, number_of_repeats = parse_text(text)
    
    users.append(user)
    activity_types.append(activity_type)
    numbers_of_repeats.append(number_of_repeats)
    
df['user'] = users
df['activity_type'] = activity_types
df['number_of_repeats'] = numbers_of_repeats

df = df[df['user'] != CORRUPTED_DATA]
df = df[df['activity_type'] != CORRUPTED_DATA]

In [104]:
df['user'].unique()

array(['anton', 'andreys', 'vitalii'], dtype=object)

In [105]:
df['activity_type'].unique()

array(['pause', 'situps', 'pushups', 'abs'], dtype=object)

In [106]:
df['number_of_repeats'].unique()

array([ 0, 14, 10, 20, 11])

In [107]:
df = df.drop(columns=['activity_id', 'text', 'id'])

In [108]:
df.to_csv(PARSED_FILE, index=False)

In [109]:
df = df.drop(columns=['time', 'user', 'number_of_repeats'])

In [110]:
df.to_csv(ADAPTED_FILE, index=False)